toolbox/mbc/mbctools/resource/namespace/units/v1/unit.dtd

<!ELEMENT unitdatabase (organisation, version, unit*)>
<!ELEMENT unit (name, plural?, definition, displayname?, quantitytype*, symbol*, alias*)>
<!ELEMENT alias (name, plural?)>
<!ELEMENT organisation (#PCDATA)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT plural (#PCDATA)>
<!ELEMENT definition (#PCDATA)>
<!ELEMENT displayname (#PCDATA)>
<!ELEMENT quantitytype (#PCDATA)>
<!ELEMENT symbol (#PCDATA)>
